@import "provide.css";
@import "features.css";
@import "team.css";
@import "email.css";
@import "intouch.css";

html {
	height: 100%;	/*kinda hack*/
}

body {
	font-family: "Open Sans", Sans;
	height: 100%;
	background-color: #F6F2F1;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;	
}

.wrapper {
	max-width: 1249px;
	margin: 29px auto 100px auto;
	padding: 0 20px;
	flex: 1 0 auto;
}

nav {
	background-color: rgba(0, 0, 0, 0.8);
	margin-bottom: 102px;
	display: flex;
	justify-content: center;
}

nav ul.menu {
	
	list-style-type: none;
	display: inline-flex;
	padding: 21px 0 17px 0;
}

li.menu-item:nth-child(1) a {
	background-color: #FF3F40;
}

li.menu-item:nth-child(1) a:hover {
	background-color: #e01b1b;
}


li.menu-item {
	justify-content: center;
}	

li.menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
	padding: 40px 1.3em 33px 1.3em;
}

a {
	text-decoration: none;
}

.menu a:link, .menu a:visited {
	color: #e0e0e0;
}

.menu a:hover {
	background-color: rgba(255,63,64, 0.5);
}

h1 {
	display: inline-block;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 42.1902px;
	line-height: 55px;
	text-transform: uppercase;
}


h3 {
	font-weight: 600;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h4 {
	f
}

p {
	font-size: 15.9953px;
	line-height: 28px;
	margin-right: 1em;
	
}

hr {
	margin-top: 1.5em;
}

hr.short-red {
	width: 10%;
	border: 1px solid #FF2D2D;
}

/*for narrow screens*/
article {
	margin: 0 auto;
}	


/*for wide screens*/
@media (min-width: 960px){
	article {
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		justify-content: space-between;
	}	
}



section {
	max-width: 625px;

}

.video-frame {
	display: block;
	min-width: 345px;
	width: 100%;
	border: none;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.button {
	
	margin-top: 5em;
	margin-bottom: 5em;

}

.button a {
	padding: 1em 4em;
	background-color: #FF3F40;
	border-radius: 3px;
	text-align: center;
	color: #e0e0e0;
	font-weight: 900;
	font-size: 18px;
}

.button a:hover {
	background-color: #e01b1b;
}

footer {
	margin-top: 4em;
	height: 99px;
	background-color: #333;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: flex-end;
}

.footer-wrapper {
	width: 1249px;
	height: 70px;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.socials{
	display: inline-flex;
	list-style-type: none;
}

.socials img{
	width: 24px;
	padding: 1em;
}

.copyrights {
	color: #939393;
	font-size: 14px;
	line-height: 17px;
}

/*for ultra narrow screens*/

@media (max-width: 480px) {
	
	h1 {
		font-size: 11vw;
		line-height:14vw;
	}
	
	section {
		max-width: initial;
		margin-left: 10px;
	}

	.wrapper {
		width: 100%;
		padding: initial;
		margin: 0;
	}

	.video-frame img {
		display: block;
		min-width: initial;
		width: 100%;
		margin: 0;
	}

	nav ul.menu {
		list-style-type: none;
		display: list-item;
		padding: 0;
	}

	li.menu-item a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 14px;
		padding: 1px 5px;
	}

	footer {
		margin-top: 4em;
		height: initial;
		background-color: #333;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.footer-wrapper {
		height: initial;
		margin: 0 20px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap-reverse;
	}

	.socials{
		display: inline-flex;
		list-style-type: none;
		flex-shrink: 0;
		padding: 0 1em;
		margin: 0;
	}
	.copyrights {
		text-align: center;
		margin: 0;
		padding: 0 0 1em 0;
	}
}

